{% extends "layout.twig" %}

{% block content %}

    </div>


    <div style="padding-left: 1em; padding-right: 1em;">
    
        {% if msg %}
        <div class="alert alert-success">{{msg}}</div>
        {% endif %}
    
        <div class="hbd">
          <h1 class="heading">Approved releases {% if tag is not null %}for {{ tag }}{% endif %}</h1>
          <div class="controls">
            <a href="{{ path('approved_delete_expired') }}" class="btn btn-outline-danger">- Delete all expired approvals <span class="badge bg-danger">{{ expiredCount }}</span></a>
            <a href="{{ path('approved_add') }}" class="btn btn-primary">+ Add new approval</a> 
          </div>
          <p class="description">Use this feature to enable over-riding of rules to send release matches to a pre-defined chain x number of times or until a certain date + time.</p>
        </div>
        
        
        <br />

        <ul class="nav nav-tabs">
            <li role="presentation" class="nav-item">
              <a class="nav-link {% if show == 'active' %}active{% endif %}" href="{{ path('approved_list', {show: 'active', tag: tag}) }}">Active <span class="badge badge-default">{{ activeCount }}</span></a>
            </li>
            <li role="presentation" class="nav-item">
              <a class="nav-link {% if show == 'expired' %}active{% endif %}" href="{{ path('approved_list', {show: 'expired', tag: tag}) }}">Expired <span class="badge badge-default">{{ expiredCount }}</span></a>
            </li>
        </ul>

        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th width="1%"></th>
                    <!-- <th width="1%"></th> -->
                    <th width="4%">Tag</th>
                    <th width="50%">Pattern</th>
                    <th width="10%">Type</th>
                    <th width="4%">Hits</th>
                    <th width="4%">Limit</th>
                    <th width="15%">Expires</th>
                    <th width="10%"></th>
                </tr>
            </thead>
        <tbody>
            {% for row in approved %}
            <tr class="{% if row.expired %}expired{% endif %}">
                <td><i class="icon-circle" style="color: {% if row.expired %}red{% else %}green{% endif %}"></i></td>
                <!-- <td>
                    {% if 'TV' in row.bookmark %}
                        <i class="fa fa-television"></i>
                    {% elseif ('X264-' in row.bookmark or 'XVID' == row.bookmark or 'DVDR' == row.bookmark) %}
                        <i class="fa fa-film"></i>
                    {%  elseif ('GAMES' in row.bookmark or 'DOX' in row.bookmark or 'CONSOLE' in row.bookmark or 'WII' in row.bookmark or 'XBOX' in row.bookmark or 'PS3' == row.bookmark or 'PS4' == row.bookmark) %}
                        <i class="fa fa-gamepad"></i>
                    {% elseif ('BOOKWARE' in row.bookmark or 'APPS' in row.bookmark) %}
                        <i class="fa fa-file-text"></i>
                    {% elseif ('XXX' in row.bookmark) %}
                        <i class="fa fa-venus-double"></i>
                    {% endif %}
                </td> -->
                <td style="text-align: center">
                    <a href="{{ path('approved_list', {tag: row.bookmark}) }}" class="badge badge-inactive" style="display: block">{{ row.bookmark }}</a>
                </td>
                <td class="rlsname">
                    <strong>
                        {% if row.type == 'WILDCARD' %}
                        {{ row.pattern|replace({'*': '<span style="color: #ffa500">*</span>'})|raw }}
                        {% else %}
                            {{ row.pattern }}
                        {% endif %}
                    </strong>
                    <br><span style="font-size:.8em":>{{ row.chain }}</span>
                </td>
                <td>{{ row.type }}</td>
                <td>{{ row.hits }}</td>
                <td>{{ row.maxlimit }}</td>
                <td>{{ row.expires|time_diff }}</td>
                <td>
                    <a class="btn btn-outline-secondary" href="{{ path('approved_edit', {id: row.id}) }}"><i class="icon-edit"></i></a>
                    <a class="btn btn-outline-secondary approved-delete" href="{{ path('approved_delete', {id: row.id}) }}"><i class="icon-trash-o"></i></a>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="container">

{% endblock %}

{% block js %}
<script>
document.addEventListener("DOMContentLoaded", function() {
  var deleteLinks = document.querySelectorAll('.approved-delete');

  Array.from(deleteLinks).forEach(link => {
      link.addEventListener('click', function(event) {
          if (confirm('Are you sure you want to delete this rule?')) {
              window.location.href = $(this).attr("href");
          }
          event.preventDefault();
      });
  });
});
</script>
{% endblock %}
